@include x-keyframes(headLaugh) {
  0% {bottom: 83px;}
  45% {bottom: 83px;}
  50% {bottom: 90px;}
  92% {bottom: 90px;}
  98% {bottom: 83px;}
  100% {bottom: 83px;}
}

@include x-keyframes(mouthLaugh) {
  0% {width: 20px;}
  45% {width: 20px;}
  50% {width: 15px;}
  92% {width: 15px;}
  98% {width: 20px;}
  100% {width: 20px;}
}

@include x-keyframes(snowBack) {
  0% {background-position: 0 0, 0 0, 0 0;}
  100% {background-position: 500px 1000px, 400px 400px, 300px 300px;}
}