$base-background-color: #014963;

$character-skin-color: #f6c9ba;
$character-skin-darkcolor: #ecbeaf;

$character-mouth-color: #a8744f;

$character-eyes-color: #000;

$character-color-primary: #de2f32;
$character-color-secondary: #fff;

%pseudo {
  content: "";
  display: inline-block;
}