body {background: $base-background-color;}


.character {
  margin-top: -130px;
  margin-left: -95px;
  position: absolute;
  left: 50%;
  top: 50%;
}

.character-body {
  @include x-prefix('animation', bodyLaugh 4s linear infinite);
  @include x-prefix('transform', translateY(50%));
  width: 190px;
  height: 180px;
  background: $character-color-primary;
  position: relative;
  border-radius: 50%;
  top: 0;

  &:before {
    @extend %pseudo;
    width: 100%;
    height: 30px;
    position: absolute;
    bottom: 63px;
    border-radius: 50%;
    box-shadow: 0px 10px 0px 9px #000;
    left: 1px;
  }

  &:after {
    @extend %pseudo;
    border: 4px solid #F2D108;
    height: 25px;
    width: 40px;
    position: absolute;
    bottom: 34px;
    border-radius: 5px;
    left: 50%;
    margin-left: -20px;
    box-shadow: inset -5px -10px 0 -4px #f2d108;
  }
}

// Cabeça
.character-head {
  @include x-prefix('animation', headLaugh 4s linear infinite);
  @include x-prefix('transform', translateX(-50%));
  z-index: 2;
  position: absolute;
  bottom: 90px;
  left: 50%;

  &:before {
    @extend %pseudo;
    width: 120px;
    height: 100px;
    background: $character-skin-color;
    border-radius: 50%;
    box-shadow: 0 -15px 0 12px $character-color-secondary;
  }
}

// Rosto (sobrancelhas)
.face {
  &:before,
  &:after {
    @extend %pseudo;
    width: 20px;
    height: 10px;
    box-shadow: 0 -6px 0 4px $character-color-secondary;
    border-radius: 50%;
    position: absolute;
    top: 32px;
  }

  &:before {left: 28px;}
  &:after {right: 28px;}
}

// Gorro
.bonnet {
  width: 130px;
  height: 120px;
  background: $character-color-primary;
  position: absolute;
  top: -50px;
  left: 0;
  border-radius: 50%;
  z-index: -1;

  &:before {
    @extend %pseudo;
    width: 71px;
    height: 49px;
    border-radius: 50%;
    box-shadow: -30px 27px 0 4px $character-color-primary;
    position: absolute;
    right: -58px;
    top: 1px;
  }

  &:after {
    @extend %pseudo;
    width: 38px;
    height: 38px;
    background: $character-color-secondary;
    border-radius: 50%;
    z-index: 5;
    position: absolute;
    right: -58px;
    top: 25px;
    box-shadow: 0px 6px 0px -4px rgba(0, 0, 0, 0.1);
  }
}

// Olhos
.eyes {
  @include x-prefix('transform', translateX(-50%));
  position: absolute;
  left: 50%;
  top: 40px;

  &:before,
  &:after {
    @extend %pseudo;
    background: $character-color-secondary;
    box-shadow: inset -4px -2px 0 5px $character-eyes-color;
    border-radius: 50%;
    position: absolute;
    width: 15px;
    height: 20px;
    top: 0;
  }

  &:before {left: -28px;}
  &:after {right: -28px;}
}

// Barba
.beard {
  @include x-prefix('animation', beardLaugh 4s linear infinite);
  @include x-prefix('transform', translateX(-50%));
  width: 170px;
  height: 68px;
  box-shadow: 0 32px 0 0 $character-color-secondary;
  border-radius: 50%;
  position: absolute;
  top: 50px;
  left: 50%;

  &:before {
    @extend %pseudo;
    height: 80px;
    background: $character-color-secondary;
    position: absolute;
    top: 12px;
    width: 140px;
    left: 15px;
    border-radius: 30px;
  }

  &:after {
    @extend %pseudo;
    right: 26px;
    position: absolute;
    border-radius: 50%;
    z-index: 2;
    height: 20px;
    top: -4px;
    width: 118px;
    box-shadow: 0 8px 0 7px $character-color-secondary;
  }
}

// Nariz
.nose {
  @include x-prefix('transform', translateX(-50%));
  width: 25px;
  height: 20px;
  border-radius: 50%;
  background: $character-skin-color;
  position: absolute;
  z-index: 3;
  box-shadow: inset -3px -3px 0px $character-skin-darkcolor;
  left: 50%;
  top: 0;
}

// Boca
.mouth {
  @include x-prefix('animation', mouthLaugh 4s linear infinite);
  @include x-prefix('transform', translateX(-50%));
  background: $character-mouth-color;
  z-index: 3;
  position: absolute;
  width: 20px;
  height: 10px;
  border-bottom-left-radius: 80px 50px;
  left: 56%;
  top: 35px;
}

// Orelhas
.ears {
  &:before,
  &:after {
    @extend %pseudo;
    width: 20px;
    height: 30px;
    border-radius: 50%;
    background: $character-skin-color;
    position: absolute;
    top: 50%;
    z-index: -1;
  }

  &:before {
    @include x-prefix('transform', rotate(-10deg));
    left: -8px;
  }

  &:after {
    @include x-prefix('transform', rotate(10deg));
    right: -8px;
  }
}

// Pernas
.legs {
  border-radius: 50%;
  background: $character-color-primary;
  height: 150px;
  position: absolute;
  z-index: -1;
  bottom: -30px;
  width: 100%;

  &:before {
    @extend %pseudo;
    width: 214px;
    box-shadow: 0 32px 0 0 $character-color-secondary;
    border-radius: 50%;
    height: 72px;
    top: 11px;
    position: absolute;
    left: -12px;    
  }
}

.legs-left {
  position: absolute;
  left: 0;
  bottom: -20px;

  &:before {
    @extend %pseudo;
    width: 40px;
    height: 40px;
    background: $character-color-secondary;
    border-radius: 50%;
  }

  &:after {
    @extend %pseudo;      
  }
}

.legs-right {
  position: absolute;
  right: 0;
  bottom: -20px;

  &:before {
    @extend %pseudo;
    width: 40px;
    height: 40px;
    background: $character-color-secondary;
    border-radius: 50%;
    
  }

  &:after {
    @extend %pseudo;
  }
}